{
  "openapi": "3.1.0",
  "info": {
    "title": "Atlar API (v2)",
    "description": "Atlar API (v2)",
    "version": "0.1",
    "contact": {
      "email": "support@atlar.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.txt"
    }
  },
  "servers": [
    {
      "url": "https://api.atlar.com"
    }
  ],
  "tags": [
    {
      "name": "Credit Transfers",
      "description": "Credit transfers are payments initiated by a debtor to transfer funds to a creditor's account.",
      "x-displayName": "Credit Transfers"
    },
    {
      "name": "Direct Debits",
      "description": "Direct debits are payments initiated by a creditor to collect funds from a debtor's account.",
      "x-displayName": "Direct Debits"
    },
    {
      "name": "External Accounts",
      "description": "External accounts are financial accounts held by counterparties at financial institutions.",
      "x-displayName": "External Accounts"
    },
    {
      "name": "Counterparties",
      "description": "Counterparties are entities that the account holder has a relationship with.",
      "x-displayName": "Counterparties"
    },
    {
      "name": "Mandates",
      "description": "Mandates are authorizations given by a debtor to a creditor to collect funds from the account.",
      "x-displayName": "Mandates"
    },
    {
      "name": "Events (webhooks)",
      "description": "Webhooks are automated notifications sent to a specified URL in response to events or changes.",
      "x-displayName": "Events (webhooks)"
    },
    {
      "name": "Accounts",
      "description": "Accounts are financial accounts held by your organization.",
      "x-displayName": "Accounts"
    },
    {
      "name": "Transactions",
      "description": "Transactions are movements of funds that have been booked on an account.",
      "x-displayName": "Transactions"
    },
    {
      "name": "Pending Transactions",
      "description": "Pending transactions are indications of movement of funds that may be booked on an account.",
      "x-displayName": "Pending Transactions"
    },
    {
      "name": "Entities",
      "description": "Entities are legal entities, e.g. companies.",
      "x-displayName": "Entities"
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.0 endpoints.",
      "x-displayName": "OAuth"
    }
  ],
  "paths": {
    "/payments/v2/credit-transfers": {
      "post": {
        "summary": "Create credit transfer",
        "description": "Create a credit transfer payment.",
        "tags": [
          "Credit Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditTransferRequest"
              },
              "examples": {
                "createCreditTransfer_SCT_request": {
                  "$ref": "#/components/examples/CreateCreditTransfer_SCT_Request"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created credit transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransfer"
                },
                "examples": {
                  "createCreditTransfer_SCT_Response": {
                    "$ref": "#/components/examples/CreateCreditTransfer_SCT_Response"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:create",
              "accounts:read",
              "entities:read",
              "external_accounts:read",
              "counterparties:read"
            ]
          }
        ]
      },
      "get": {
        "summary": "List credit transfers",
        "description": "Returns a list of credit transfers. Sort order is always descending on date.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "description": "Include only credit transfers for the given source account.",
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include only credit transfers with the given status.",
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "APPROVED"
              ]
            },
            "example": "APPROVED"
          },
          {
            "description": "Include only credit transfers with property `date` matching the given value. The parameter value may be either a string for equality matching, or an object for range-like matching criteria.",
            "in": "query",
            "name": "date",
            "explode": true,
            "style": "deepObject",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date",
                  "example": "2022-01-15",
                  "description": "Include only credit transfers with `date` equal to the given value."
                },
                {
                  "type": "object",
                  "properties": {
                    "gte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-01",
                      "description": "Include only credit transfers with `date` after or equal to given date."
                    },
                    "lte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-31",
                      "description": "Include only credit transfers with `date` before or equal to given date."
                    },
                    "eq": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-15",
                      "description": "Include only credit transfers with `date` equal to given date."
                    }
                  }
                }
              ]
            }
          },
          {
            "description": "Include only credit transfers that are part of the payment batch with the given batch ID.",
            "in": "query",
            "name": "batchId",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of credit transfers.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/CreditTransfer"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/credit-transfers/{id}": {
      "get": {
        "summary": "Get credit transfer",
        "description": "Retrieve a specific credit transfer.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "A credit transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransfer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update credit transfer",
        "description": "Update a credit transfer.\n\nThe credit transfer execution date can only be changed if the\ncredit transfer has not been scheduled for submission yet.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreditTransferJSONPatchRequest"
              },
              "examples": {
                "UpdateDate": {
                  "summary": "Change payment execution date.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/date",
                      "value": "2022-05-08"
                    }
                  ]
                },
                "UpdateStatus": {
                  "summary": "Change payment status.",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/status",
                      "value": "RETURNED"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The updated credit transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransfer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/credit-transfers/{id}/events": {
      "get": {
        "summary": "List credit transfer events",
        "description": "Retrieve events for a specific credit transfer. Returns a list of events. For further details on Pagination, see the section above.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of credit transfer events.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/credit-transfers/{id}:approve": {
      "post": {
        "summary": "Approve credit transfer",
        "description": "Approve the specified credit transfer.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The now approved credit transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransfer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/credit-transfers/{id}:reject": {
      "post": {
        "summary": "Reject credit transfer",
        "description": "Reject the specified credit transfer.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The now rejected credit transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransfer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:update"
            ]
          }
        ]
      }
    },
    "/payments/v2beta/credit-transfer-batches": {
      "post": {
        "summary": "Create credit transfer batch",
        "description": "Create a batch of credit transfer payments.\n\nSee https://docs.atlar.com/docs/batch-payments for more information.",
        "tags": [
          "Credit Transfers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditTransferBatchRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "treatment": {
                    "$ref": "#/components/schemas/BatchTreatmentType"
                  },
                  "fileContentType": {
                    "type": "string",
                    "$ref": "#/components/schemas/CreditTransferBatchContentType"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "treatment",
                  "fileContentType",
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created credit transfer batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransferBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:create",
              "accounts:read",
              "external_accounts:read",
              "counterparties:read"
            ]
          }
        ]
      },
      "get": {
        "summary": "List credit transfer batches",
        "description": "Returns a list of credit transfer batches.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of credit transfer batches.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/CreditTransferBatch"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:read"
            ]
          }
        ]
      }
    },
    "/payments/v2beta/credit-transfer-batches/{id}": {
      "get": {
        "summary": "Get credit transfer batch",
        "description": "Retrieve a specific credit transfer batch.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "A credit transfer batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransferBatch"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/payments/v2beta/credit-transfer-batches/{id}/results": {
      "get": {
        "summary": "List credit transfer batch results",
        "description": "List processing results for individual credit transfer requests that were part of a credit transfer batch.\nThe result items represent the result(s) of processing the batch request input but doesn't <b>not</b> represent the end-to-end processing of the payment.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "description": "Filter based on presence of `errors`. If `true`, only\nresults with at least one error will be included. If `false`, only\nresults with no errors will be included.\n",
            "in": "query",
            "name": "errors",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter based on `skipped`. If `true`, only results related\nto input record that were skipped will be included. If\n`false`, only results that are not related to skipped\ninput records will be included.\n",
            "in": "query",
            "name": "skipped",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of payment batch results.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/BatchResult"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Not found will be returned if no payment batch with given\nid exists or if the payment batch is not yet in status\n`COMPLETED`.\n",
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/payments/v2/credit-transfer-batches/{id}:approve": {
      "post": {
        "summary": "Approve credit transfer batch",
        "description": "Approve the batch of credit transfers.\n\nApproval of a batch is only applicable when the batch `treatment` is `BATCH`.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request to approve the batch and all the payments it\ncontains has been accepted.\n\nNote that the approval status of the individual payments\nmay be processed asynchronous.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransferBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/credit-transfer-batches/{id}:reject": {
      "post": {
        "summary": "Reject credit transfer batch",
        "description": "Reject the batch of credit transfers.\n\nRejection of a batch is only applicable when the batch `treatment` is `BATCH`.",
        "tags": [
          "Credit Transfers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request to reject the batch and all the payments it\ncontains has been accepted.\n\nNote that the rejection status of the individual payments\nmay be processed asynchronous.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditTransferBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "credit_transfers:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/direct-debits": {
      "post": {
        "summary": "Create direct debit",
        "description": "Create a direct debit payment.",
        "tags": [
          "Direct Debits"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectDebitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created direct debit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:create",
              "accounts:read",
              "external_accounts:read",
              "counterparties:read"
            ]
          }
        ]
      },
      "get": {
        "summary": "List direct debits",
        "description": "Returns a list of direct debits. For further details on Pagination, see general section above. Sort order is always descending on date.",
        "tags": [
          "Direct Debits"
        ],
        "parameters": [
          {
            "description": "Include only direct debits for the given destination account.",
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include only direct debits with the given status.",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/PaymentStatus"
            }
          },
          {
            "description": "Include only direct debits with property `date` matching the given value. The parameter value may be either a string for equality matching, or an object for range-like matching criteria.",
            "in": "query",
            "name": "date",
            "explode": true,
            "style": "deepObject",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date",
                  "example": "2022-01-15",
                  "description": "Include only direct debits with `date` equal to the given value."
                },
                {
                  "type": "object",
                  "properties": {
                    "gte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-01",
                      "description": "Include only direct debits with `date` after or equal to given date."
                    },
                    "lte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-31",
                      "description": "Include only direct debits with `date` before or equal to given date."
                    },
                    "eq": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-15",
                      "description": "Include only direct debits with `date` equal to given date."
                    }
                  }
                }
              ]
            }
          },
          {
            "description": "Include only direct debits with the given direct debit scheme.",
            "in": "query",
            "name": "scheme",
            "schema": {
              "$ref": "#/components/schemas/DirectDebitSchemeType"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of direct debits.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/DirectDebit"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/direct-debits/{id}": {
      "get": {
        "summary": "Get direct debit",
        "description": "Retrieve a specific direct debit.",
        "tags": [
          "Direct Debits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "Direct debit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/direct-debits/{id}/events": {
      "get": {
        "summary": "List direct debit events",
        "description": "Retrieve events for a specific direct debit. Returns a list of events. For further details on Pagination, see the section above.",
        "tags": [
          "Direct Debits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of direct debit events.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/direct-debits/{id}:approve": {
      "post": {
        "summary": "Approve direct debit",
        "description": "Approve the specified direct debit.",
        "tags": [
          "Direct Debits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The now approved direct debit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/direct-debits/{id}:reject": {
      "post": {
        "summary": "Reject direct debit",
        "description": "Reject the specified direct debit.",
        "tags": [
          "Direct Debits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The now rejected direct debit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "direct_debits:update"
            ]
          }
        ]
      }
    },
    "/payments/v2/external-accounts/{id}": {
      "get": {
        "summary": "Get external account",
        "description": "Retrieve a specific external account.",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "An external account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccount"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "external_accounts:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update external account",
        "description": "Update external account.",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalAccountJSONPatchRequest"
              },
              "examples": {
                "addIdentifier": {
                  "summary": "Add an account identifier",
                  "value": [
                    {
                      "op": "add",
                      "path": "/identifiers/-",
                      "value": {
                        "type": "IBAN",
                        "market": "DE",
                        "number": "DE75512108001245126199"
                      }
                    }
                  ]
                },
                "addRouting": {
                  "summary": "Add routing identifier (e.g. a BIC)",
                  "value": [
                    {
                      "op": "add",
                      "path": "/routing/-",
                      "value": {
                        "type": "BIC",
                        "number": "DEUTDEFFXXX"
                      }
                    }
                  ]
                },
                "assignAlias": {
                  "summary": "Assign an alias",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/alias",
                      "value": "My Account"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccount"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "external_accounts:update"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete external account",
        "description": "Deletes the specified external account.",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "external_accounts:delete"
            ]
          }
        ]
      }
    },
    "/payments/v2/external-accounts": {
      "post": {
        "summary": "Create external account",
        "description": "Create an external account associated with a Counterparty. A maximum of 10 accounts can be created per counterparty.",
        "tags": [
          "External Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "external_accounts:create"
            ]
          }
        ]
      },
      "get": {
        "summary": "List external accounts",
        "description": "Returns a list of external accounts. For further details on Pagination, see general section above.",
        "tags": [
          "External Accounts"
        ],
        "parameters": [
          {
            "description": "Free text search of external account identifiers.",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 255
            }
          },
          {
            "description": "The ID of a counterparty.",
            "in": "query",
            "name": "counterpartyId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "entityIdsIn",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of external accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/ExternalAccount"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "external_accounts:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/counterparties": {
      "post": {
        "summary": "Create counterparty",
        "description": "Create a new counterparty.",
        "tags": [
          "Counterparties"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterpartyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created counterparty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Counterparty"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "counterparties:create"
            ]
          }
        ]
      },
      "get": {
        "summary": "List counterparties",
        "description": "Returns a list of counterparties. For further details on Pagination, see general section above.",
        "tags": [
          "Counterparties"
        ],
        "parameters": [
          {
            "description": "Free text search query term for counterparty name, account identifiers and external metadata. Must be at least 3 characters.",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 255
            }
          },
          {
            "in": "query",
            "name": "entityIdsIn",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of counterparties.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Counterparty"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "counterparties:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/counterparties/{id}": {
      "get": {
        "summary": "Get counterparty",
        "description": "Retrieve a specific counterparty.",
        "tags": [
          "Counterparties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "A counterparty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Counterparty"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "counterparties:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update counterparty",
        "description": "Update a counterparty.",
        "tags": [
          "Counterparties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CounterpartyJSONPatchRequest"
              },
              "examples": {
                "UpdateLegalName": {
                  "summary": "Update legal name",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/legalName",
                      "value": "Acme Inc"
                    }
                  ]
                },
                "UpdateNationalID": {
                  "summary": "Update national identifier",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/nationalIdentifier",
                      "value": {
                        "market": "SE",
                        "type": "CIVIC",
                        "number": "2012121212"
                      }
                    }
                  ]
                },
                "UpdateEmail": {
                  "summary": "Update email address",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/email",
                      "value": "john.smith@example.com"
                    }
                  ]
                },
                "UpdatePhone": {
                  "summary": "Update phone number",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/phone",
                      "value": "+12505550199"
                    }
                  ]
                },
                "UpdateAddress": {
                  "summary": "Update postal address",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/address",
                      "value": {
                        "country": "US",
                        "city": "New York",
                        "postalCode": "10017",
                        "streetName": "E 42nd St",
                        "streetNumber": "89"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated counterparty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Counterparty"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "counterparties:update"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete counterparty",
        "description": "Deletes the specified counterparty.",
        "tags": [
          "Counterparties"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "counterparties:delete",
              "external_accounts:delete"
            ]
          }
        ]
      }
    },
    "/payments/v2/mandates": {
      "post": {
        "summary": "Create mandate",
        "description": "Create a new direct debit mandate.",
        "tags": [
          "Mandates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMandateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created mandate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mandate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "mandates:create",
              "external_accounts:read",
              "counterparties:read"
            ]
          }
        ]
      },
      "get": {
        "summary": "List mandates",
        "description": "Returns a list of mandates. For further details on Pagination, see general section above.",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "description": "Include only mandates associated with the given external account.",
            "in": "query",
            "name": "externalAccountId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include only mandates associated with the given counterparty.",
            "in": "query",
            "name": "counterpartyId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include only mandates with the given status.",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/MandateStatus"
            }
          },
          {
            "description": "Include only mandates with the payment scheme.",
            "in": "query",
            "name": "scheme",
            "schema": {
              "$ref": "#/components/schemas/DirectDebitSchemeType"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mandates.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Mandate"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "mandates:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/mandates/{id}": {
      "get": {
        "summary": "Get mandate",
        "description": "Retrieve a specific mandate.",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          }
        ],
        "responses": {
          "200": {
            "description": "A mandate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mandate"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "mandates:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/mandates/{id}/events": {
      "get": {
        "summary": "List mandate events",
        "description": "Retrieve events for a specific mandate. Returns a list of events. For further details on Pagination, see the section above.",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of mandate events.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "mandates:read"
            ]
          }
        ]
      }
    },
    "/payments/v2/mandates/{id}:cancel": {
      "post": {
        "summary": "Cancel mandate",
        "description": "Cancel a specific mandate.",
        "tags": [
          "Mandates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceIDOrExternalID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag"
          }
        ],
        "responses": {
          "202": {
            "description": "The cancelled mandate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mandate"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "mandates:update"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/accounts/{id}": {
      "get": {
        "summary": "Get account",
        "description": "Retrieve a specific account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID",
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "An account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "accounts:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update account",
        "description": "Update an account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountJSONPatchRequest"
              },
              "examples": {
                "assignAlias": {
                  "summary": "Assign an alias",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/alias",
                      "value": "My Account"
                    }
                  ]
                },
                "addMetadataKey": {
                  "summary": "Add metadata key & value",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/metadata/my_metadata_key",
                      "value": "2a9a79b9-601c-449b-aa05-432f41dbbc4a"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "accounts:update"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/accounts": {
      "get": {
        "summary": "List accounts",
        "description": "Returns a list of accounts. For further details on Pagination, see general section above.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Account"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "accounts:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/transactions": {
      "get": {
        "summary": "List transactions",
        "description": "Returns a list of transactions. For further details on Pagination, see general section above.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "description": "Include only transactions associated with a given account.",
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string",
              "examples": [
                "31d593d7-fff9-4783-aa1d-92acb7b21a19"
              ]
            }
          },
          {
            "description": "Include only transactions with the given reconcilation status.",
            "in": "query",
            "name": "reconciliationStatus",
            "schema": {
              "$ref": "#/components/schemas/TransactionReconciliationStatus"
            }
          },
          {
            "description": "Include only transactions with property `date` matching the given value. The parameter value may be either a string for equality matching, or an object for range-like matching criteria.",
            "in": "query",
            "name": "date",
            "explode": true,
            "style": "deepObject",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date",
                  "example": "2022-01-15",
                  "description": "Include only transactions with `date` equal to the given value."
                },
                {
                  "type": "object",
                  "properties": {
                    "gte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-01",
                      "description": "Include only transactions with `date` after or equal to given date."
                    },
                    "lte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-31",
                      "description": "Include only transactions with `date` before or equal to given date."
                    },
                    "eq": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-15",
                      "description": "Include only transactions with `date` equal to given date."
                    }
                  }
                }
              ]
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Transaction"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "transactions:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/transactions/{id}": {
      "get": {
        "summary": "Get transaction",
        "description": "Retrieve a specific transaction.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "description": "Transaction ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e37235aa-adab-11ec-8029-96ac651c9332"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "transactions:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update transaction",
        "description": "Update a transaction.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionJSONPatchRequest"
              },
              "examples": {
                "addMetadataKey": {
                  "summary": "Add metadata key & value",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/metadata/my_metadata_key",
                      "value": "2a9a79b9-601c-449b-aa05-432f41dbbc4a"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "transactions:update"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/pending-transactions": {
      "get": {
        "summary": "List pending transactions",
        "description": "Returns a list of pending transactions. For further details on Pagination, see general section above.",
        "tags": [
          "Pending Transactions"
        ],
        "parameters": [
          {
            "description": "Include only pending transactions associated with a given account.",
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string",
              "examples": [
                "31d593d7-fff9-4783-aa1d-92acb7b21a19"
              ]
            }
          },
          {
            "description": "Include only pending transactions with property `date` matching the given value. The parameter value may be either a string for equality matching, or an object for range-like matching criteria.",
            "in": "query",
            "name": "date",
            "explode": true,
            "style": "deepObject",
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "date",
                  "example": "2022-01-15",
                  "description": "Include only pending transactions with `date` equal to the given value."
                },
                {
                  "type": "object",
                  "properties": {
                    "gte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-01",
                      "description": "Include only pending transactions with `date` after or equal to given date."
                    },
                    "lte": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-31",
                      "description": "Include only pending transactions with `date` before or equal to given date."
                    },
                    "eq": {
                      "type": "string",
                      "format": "date",
                      "example": "2022-01-15",
                      "description": "Include only pending transactions with `date` equal to given date."
                    }
                  }
                }
              ]
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/PendingTransaction"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "pending_transactions:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/pending-transactions/{id}": {
      "get": {
        "summary": "Get transaction",
        "description": "Retrieve a specific pending transaction.",
        "tags": [
          "Pending Transactions"
        ],
        "parameters": [
          {
            "description": "PendingTransaction ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "e37235aa-adab-11ec-8029-96ac651c9332"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PendingTransaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingTransaction"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "pending_transactions:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/pending-transactions/{id}/events": {
      "get": {
        "summary": "List pending transaction events",
        "description": "Retrieve events for a specific pending transaction. Returns a list of events. For further details on Pagination, see the section above.",
        "tags": [
          "Pending Transactions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending transaction events.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "pending_transactions:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/accounts/{id}/balances": {
      "get": {
        "summary": "List balances",
        "description": "Returns a list of account balances. For further details on Pagination, see general section above.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "description": "Include only balances associated with the account identified by `id`. If value `-` is specified, balances across all accounts will be queried.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "value": "31d593d7-fff9-4783-aa1d-92acb7b21a19",
                "summary": "By account identifier."
              },
              "hyphen": {
                "value": "-",
                "summary": "All accounts."
              }
            }
          },
          {
            "description": "Include only balances of specified balance type (`BOOKED` or `AVAILABLE`).",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/BalanceType"
            }
          },
          {
            "description": "Include only the most recent balance.",
            "in": "query",
            "name": "mostRecent",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of balances.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Balance"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "accounts:read",
              "account_balances:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/entities": {
      "post": {
        "summary": "Create entity",
        "description": "Create entity.",
        "tags": [
          "Entities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Already existing equvivalent entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "201": {
            "description": "The created entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "entities:create"
            ]
          }
        ]
      },
      "get": {
        "summary": "List entities",
        "description": "Returns a list of entities. For further details on Pagination, see general section above.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of entities.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    },
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "$ref": "#/components/schemas/Entity"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "entities:read"
            ]
          }
        ]
      }
    },
    "/financial-data/v2/entities/{id}": {
      "get": {
        "summary": "Get entity",
        "description": "Retrieve a specific entity.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID",
            "description": "Entity ID"
          }
        ],
        "responses": {
          "200": {
            "description": "An entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "entities:read"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete entity",
        "description": "Deletes the specified entity. It is only possible to delete an entity if it has no children or has no associated accounts.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": [
              "entities:delete"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update entity",
        "description": "Update an entity.",
        "tags": [
          "Entities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceID"
          },
          {
            "$ref": "#/components/parameters/IfMatchETag",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityJSONPatchRequest"
              },
              "examples": {
                "changeLegalName": {
                  "summary": "Change legal name",
                  "value": [
                    {
                      "op": "replace",
                      "path": "/legalName",
                      "value": "Acme Ltd."
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "basicAuth": [
              "entities:update"
            ]
          }
        ]
      }
    },
    "/iam/v2beta/oauth2/token": {
      "post": {
        "summary": "Create OAuth 2.0 access token",
        "description": "This endpoint is an OAuth 2.0 <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-3.2\">token endpoint</a> and can be used by a client to obtain an access token.\n\nUse <a href=\"https://app.atlar.com/users/all\">programmatic access user</a> credentials as OAuth 2.0 client credentials.\nUse the <i>access key</i> as <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-2.2\">client identifier (`client_id`)</a>.\nUse the <i>secret</i> as <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1\">client password (`client_secret`)</a>.\n\nThis endpoint supports <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1\">authentication using HTTP Basic auth</a>.\n\nThis endpoint only supports the OAuth 2.0 <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-4.4\">client credentials grant type</a>.\n",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "description": "OAuth 2.0 request parameters.",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                },
                "required": [
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful OAuth 2.0 <a href=\"https://datatracker.ietf.org/doc/html/rfc6749#section-4.4.3\">access token response</a>.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid access token request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Client authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "resourceEvent": {
      "post": {
        "summary": "Resource event",
        "description": "Resource event delivered as a webhook request.",
        "security": [],
        "tags": [
          "Events (webhooks)"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Webhook-Signature",
            "description": "Atlar Webhook request signature.\nPurpose: Makes it possible for your app to verify that the webhook was sent from Atlar (authenticity), and that the message hasn't been altered (integrity).\nSee details at https://docs.atlar.com/v2.0/docs/webhooks#webhook-security",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Webhook-Request-Timestamp",
            "description": "A timestamp specifying when the HTTP request was sent (by Atlar).\nPurpose: Used to mitigate replay attacks.\nSee details at https://docs.atlar.com/v2.0/docs/webhooks#webhook-security",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-10-11T10:13:14.000000015Z"
            }
          }
        ],
        "requestBody": {
          "description": "Resource event webhook payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventWebhookPayload"
              },
              "examples": {
                "WebhookRequestPayload_ResourceEvent_CreditTransfer_Approval": {
                  "$ref": "#/components/examples/WebhookRequestPayload_ResourceEvent_CreditTransfer_Approval"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 OK status to indicate that the data was received and processed successfully."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "ResourceID": {
        "in": "path",
        "name": "id",
        "description": "Atlar resource ID.",
        "schema": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9\\-]{1,256}$"
        },
        "required": true
      },
      "IfMatchETag": {
        "in": "header",
        "name": "If-Match",
        "description": "ETag (version) of resource to be updated.",
        "schema": {
          "type": "string",
          "pattern": "^version:\\d{1,4}$"
        },
        "examples": {
          "versionNumberETag": {
            "value": "version:1"
          }
        }
      },
      "QueryLimit": {
        "in": "query",
        "name": "limit",
        "description": "Limit the number of items in resulting query response.",
        "schema": {
          "type": "integer",
          "default": 100,
          "minimum": 1,
          "maximum": 500
        }
      },
      "PaginationToken": {
        "in": "query",
        "name": "token",
        "description": "If a query response contains a non-empty `nextToken`, use that value as `token` query parameter to continue pagination.",
        "schema": {
          "type": "string"
        }
      },
      "ResourceIDOrExternalID": {
        "in": "path",
        "name": "id",
        "description": "Atlar resource ID or External ID. Prefix External IDs with `external:`.",
        "schema": {
          "type": "string",
          "pattern": "^external:[a-zA-Z0-9._\\-+=]{1,64}$|^[a-zA-Z0-9\\-]{1,256}$"
        },
        "required": true
      }
    },
    "schemas": {
      "CreatedTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "Time at which the resource was created.",
        "example": "2022-05-04T18:31:12.889104898Z",
        "readOnly": true
      },
      "UpdatedTimestamp": {
        "type": "string",
        "format": "date-time",
        "description": "Time at which the resource was last updated.",
        "example": "2022-05-04T18:47:32.213842599Z",
        "readOnly": true
      },
      "ResourceID": {
        "type": "string",
        "description": "Unique resource identifier.",
        "readOnly": true,
        "minLength": 32,
        "maxLength": 64,
        "examples": [
          "2ed9a3ee-60aa-4f9f-a858-2eed4eefbbc8"
        ]
      },
      "ResourceVersion": {
        "type": "integer",
        "description": "Resource version. Starts at value `1` when the resource is\ncreated and increases by one for each successive update.",
        "example": 1,
        "minimum": 1,
        "readOnly": true
      },
      "ETag": {
        "type": "string",
        "description": "[ETag](https://en.wikipedia.org/wiki/HTTP_ETag) based on the\nresource version. This can be passed along in `If-Match` HTTP\nheader when updating a resource to perform a conditional\nupdate.",
        "pattern": "^version:\\d{1,4}$",
        "example": "version:3",
        "readOnly": true,
        "externalDocs": {
          "url": "https://en.wikipedia.org/wiki/HTTP_ETag"
        }
      },
      "OrganizationID": {
        "type": "string",
        "description": "Unique resource identifier for an Organization.",
        "readOnly": true,
        "examples": [
          "0160f6ab-5741-49e1-af46-9138927e547e"
        ]
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "description": "A list of resources."
          },
          "nextToken": {
            "description": "Pagination token for next page.\nThe value will be a non-empty string if there are more resources to be fetched.\nThe value will be an empty string if there are no more resources to be fetched.",
            "type": "string",
            "example": "eyIxIjogIlRoaXMgaXMgYSBkdW1teSBwYWdpbmF0aW9uIHRva2VuLiJ9"
          },
          "token": {
            "description": "The pagination token that was used for this request.\nThe value will be an empty string if no `token` query parameter was provided with the request.",
            "type": "string",
            "example": "eyIwIjogIlRoaXMgaXMgYSBkdW1teSBwYWdpbmF0aW9uIHRva2VuLiJ9"
          },
          "limit": {
            "description": "The page limit that was used for this request.",
            "example": 100,
            "type": "integer"
          }
        },
        "required": [
          "items",
          "nextToken",
          "token",
          "limit"
        ]
      },
      "Event": {
        "type": "object",
        "description": "A resource event.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The ID of the event.",
            "example": 1
          },
          "organizationId": {
            "$ref": "#/components/schemas/OrganizationID"
          },
          "entityId": {
            "description": "The ID of the API resource that this event belongs to.",
            "$ref": "#/components/schemas/ResourceID"
          },
          "type": {
            "$ref": "#/components/schemas/EventType"
          },
          "name": {
            "type": "string",
            "description": "The event name. Different resources have different sets of event names.",
            "example": "CREATED"
          },
          "timestamp": {
            "description": "When the event happened.",
            "type": "string",
            "format": "date-time",
            "example": "2022-08-20T12:20:40.866061374Z"
          },
          "details": {
            "description": "Additional details describing this event.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "examples": [
              {
                "approvalStepId": "e741c062-19f6-46a0-be31-63dded5b0341"
              }
            ]
          },
          "message": {
            "type": "string",
            "description": "A message which could either be a message from the bank or an explanation of the event."
          },
          "originator": {
            "description": "The originator of the event which could be either a user ID, BANK or ATLAR.",
            "type": "string",
            "example": "ATLAR"
          }
        },
        "required": [
          "id",
          "organizationId",
          "entityId",
          "type",
          "name",
          "originator",
          "timestamp"
        ]
      },
      "CurrencyCode": {
        "type": "string",
        "description": "Three-letter ISO 4217 currency code.",
        "example": "EUR",
        "minLength": 3,
        "maxLength": 3,
        "pattern": "^[A-Z]{3,3}$"
      },
      "ExternalID": {
        "type": "string",
        "pattern": "^[a-zA-Z0-9._\\-+=]{1,64}$",
        "description": "External ID is optional to use, but if used, the Atlar platform will persist it, index it, as well as require it to be unique across all resources. It is possible to retrieve a resource using the external ID using the prefix `external:`.",
        "example": "walVNuin6X5Mvte4xhg1ibTAVSACfN4Q9hl",
        "x-omitempty": true
      },
      "AmountInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AmountIntegerValueInput"
          },
          {
            "$ref": "#/components/schemas/AmountStringValueInput"
          }
        ]
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "stringValue": {
            "description": "A string representation of the amount value. This will be\na decimal number if the currency has decimals. The number\nis not formatted for display purposes (e.g. with locale\nspecific thousand separator) and always contains the dot\n`.` character as decimal separator.",
            "example": "15.02",
            "type": "string"
          },
          "value": {
            "description": "The amount value as an integer (int64) represented in\ncurrency minor units (e.g. 15.02 EUR is represented as the\nvalue 1502).",
            "example": 1502,
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "currency",
          "stringValue",
          "value"
        ]
      },
      "Date": {
        "type": "string",
        "format": "date",
        "description": "`full-date` notation as defined by [RFC 3339, section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6), for example, `2017-07-21`.",
        "example": "2022-05-07"
      },
      "AmountIntegerValueInput": {
        "type": "object",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "value": {
            "description": "The amount value as an integer (int64) represented in currency minor units (e.g. 15.02 EUR is represented as the value 1502).",
            "example": 1502,
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "currency",
          "value"
        ]
      },
      "AmountStringValueInput": {
        "type": "object",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "stringValue": {
            "description": "A string representation of the amount value, which will be a decimal number if the currency has decimals. The number is not formatted for display purposes (e.g. with thousand separator) and always contains the dot `.` character as decimal separator.",
            "example": "15.02",
            "type": "string"
          }
        },
        "required": [
          "currency",
          "stringValue"
        ]
      },
      "MarketCode": {
        "type": "string",
        "description": "Two-letter ISO 3166-1 alpha2 country code.",
        "example": "DE",
        "minLength": 2,
        "maxLength": 2,
        "pattern": "^[A-Z]{2,2}$"
      },
      "NationalIdentifier": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the national identifier.",
            "enum": [
              "CIVIC",
              "COMPANY"
            ],
            "example": "CIVIC"
          },
          "market": {
            "$ref": "#/components/schemas/MarketCode"
          },
          "number": {
            "type": "string",
            "description": "The identifier itself.",
            "example": "2012121212"
          }
        },
        "required": [
          "type",
          "market",
          "number"
        ]
      },
      "CountryCode": {
        "type": "string",
        "description": "Two-letter ISO 3166-1 alpha2 country code.",
        "example": "DE",
        "minLength": 2,
        "maxLength": 2,
        "pattern": "^[A-Z]{2,2}$"
      },
      "AccountIdentifierType": {
        "type": "string",
[...]
